.page-main {
  display: grid;
  grid-template-columns: 1fr 1px auto 1px 1fr;
  grid-template-areas: "nav sep-left content sep-right right-section";
  min-height: 100vh;
}
.page-main .nav {
  grid-area: nav;
}
.page-main .content {
  grid-area: content;
}
.page-main .right-section {
  grid-area: right-section;
}
.page-main .seperator-left {
  grid-area: sep-left;
  height: 100%;
}
.page-main .seperator-right {
  grid-area: sep-right;
  height: 100%;
}
