.chirp-item {
  width: 600px;
  display: grid;
  grid-template-columns: 77px auto 62px;
  grid-template-rows: 32px auto 46px 1px;
  grid-template-areas:
    "icon header context"
    "icon body   context"
    "icon nums   context"
    "border border border";
}
.chirp-item:hover {
  cursor: pointer;
  background-color: #f5f8fa;
}
.chirp-item .icon-div {
  grid-area: icon;
  /* background-color: yellow; */
}
.chirp-item .profile-pic {
  margin-top: 4px;
  margin-left: 12px;
  border-radius: 50%;
}
.chirp-item .header-div {
  grid-area: header;
  /* background-color: pink; */
  display: flex;
}

.chirp-item .header-div > * {
  margin-top: 3px;
}
.chirp-item .time {
  margin-left: 15px;
}
.chirp-item .body-div {
  grid-area: body;
  /* background-color: green; */
}
.chirp-item .body-chirp {
  margin: 0;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 1.3125;
}
.chirp-item .nums-div {
  grid-area: nums;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
}
/* .nums-div > * {
  margin-bottom: 15px;
} */
.chirp-item .comment-icon {
  height: 16px;
  margin-bottom: 18px;
  font-size: 18px;
  color: var(--lynch);
}
.chirp-item .comment-num {
  margin-bottom: 14px;
}
.chirp-item .like-num {
  margin-left: 2px;
  margin-bottom: 14px;
}
.chirp-item .context-div {
  grid-area: context;
  /* background-color: red; */
}
.chirp-item .context-icon {
  margin-left: 24px;
}
.chirp-item .bottom-border {
  grid-area: border;
}
