.comment-icon {
  height: 26px;
  width: 26px;
  margin-bottom: 11.75px;
  border-radius: 50%;
  background-color: blue;
}
.comment-icon .open-comment-icon {
  fill: var(--lynch);
  height: 16px;
  width: 16px;
  margin-left: 5px;
  margin-bottom: 2px;
}
.comment-icon .closed-comment-icon {
  fill: var(--dodger-blue);
  height: 16px;
  width: 16px;
  margin-left: 5px;
  margin-bottom: 2px;
}
